h4 {
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: end;
}

#modal-demo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Style for the modal header to position the title and button */
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/* Style the close button */
#searchCloseBtn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

/* Hover effect for the close button */
#searchCloseBtn:hover {
    color: gray;
}